body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.16rem;
    margin: 0;
    background-color: #c3c3c3;
    color: #454545;
    overflow: hidden;
    position: relative;
    /* overflow-x: scroll;  */


}

/* html{
    height: 100%;
} */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}

body {
    width: 100%;
    height: auto;
    color: #CCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: #000 ; */
    color: #454545;
    /* background-color: #c3c3c3; */
    /* font-size: large; */
    text-align: center
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input,
button,
textarea,
:focus {
    outline: none;
}

.gauge {
    width: 2.4rem;
    height: 1.6rem;
    float: left
}

.grid {
    width: 80%;
    /* height: 1.2rem; */
    display: flex;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: row;
    flex-wrap:wrap;
    /* transforM:translateY(-50%); */
    transforM: translate(-50%, -50%);
    /* margin: 0 auto; */
    /* font-size: 0.1rem; */
    /* background: #c3c3c3; */
}

.sidebar {
    width: 2.5rem;
    float: left;
    font-size: 0.16rem;
    border-style: solid;
    border-color: #AAA;
    border-width: 0.01rem;
    /* border-left: 0; */
    background-color: #c3c3c3;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.small_text {
    font-size: smaller;
}

.smaller_text {
    font-size: xx-small;
}

.highlight_text {
    color: yellow;
    font-weight: bold;
}

.subline {
    font-size: 0.1rem;
    height: 0.22rem;
    line-height: 0.22rem;
}

.state_offline {
    font-size: 0.1rem;
    color: red;
}

.state_parked {
    font-size: 0.1rem;
    color: yellow;
}

.state_running {
    font-size: 0.1rem;
    color: lightgreen;
}

.largetext {
    font-size: large;
}

li {
    list-style: none
}

div.clear {
    clear: both;
    height: 0.15rem;
    background: #c3c3c3;

}

.block_generic {
  
    /* width: 0.8rem; */
    margin-top: 0.05rem;
    height: 0.56rem;
    text-align: center
}

.block2x {
    /* float: left; */
    height: 0.56rem;
    box-sizing: border-box;
    padding: 0  0.05rem;
    background: #e9e9e9;
    width: 1.7rem;
    /* flex:1; */
    border: 0.01rem solid #c3c3c3;
    cursor: help;
}
.block2x:nth-child(2){
    width: 2.5rem;
}
.block25x {
    float: left;
    /* padding: 0.05rem; */
    padding: 0  0.05rem;
    box-sizing: border-box;
    height: 0.56rem;
    width: 2.5rem;
    background: #e9e9e9;
    border: 0.01rem solid #c3c3c3;
    cursor: help;
}

.block25x_generic {
    /* width: 2.5rem; */
    /* height: 0.56rem; */
    /* margin-left: 0.01rem */
}

.block2x_generic {
    /* width: 1.5rem; */
    /* height: 0.55rem; */
    /* margin-left: 0.01rem */
}

.block_channel {
    font-size: 0.16rem;
    margin-top: 0.1rem
}

/* .block_id {
    font-size: 0.12rem;
    line-height: 0.2rem;
    margin-top: 0.08rem
} */

.block_number {
    /* margin-top: 0.1rem; */
    font-size: 0.16rem;
    height: 0.34rem;
    line-height: 0.34rem;
}

.vbar {
    float: left;
    height: 0.56rem;
    background-image: url(dashboard/vbar.png);
    background-repeat: no-repeat;
    cursor: help
}

.vbar_info {
    width: 0.76rem;
    margin-top: 0.02rem;
    margin-left: 0.05rem;
    text-align: left;
    line-height: 0.08rem;
    font-size: 0.08rem
}

.hbar {
    float: left;
    height: 0.56rem;
    background-image: url(dashboard/hbar.png);
    background-repeat: no-repeat;
    cursor: help;
}

.hbar_info {
    width: 0.55rem;
    margin-top: 0.02rem;
    margin-left: 1rem;
    text-align: center;
    line-height: 0.14rem;
    font-size: 0.1rem
}

.hbar_number {
    margin-top: 0.12rem;
    margin-bottom: 0.05rem;
    text-align: center;
    font-size: 0.16rem;
}


/* #bigbox{
    height: 100%;
    width: 100%;
    display: flex;
} */
.container {
    width: 100%;
    /* display: 1; */
}

.map {
    /* width: 50%; */
    /* float: left; */
    /* width: 100%; */
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #AAA;
    border-width: 0.01rem;
}

.list {
    width: 100%;
    height: 1.2rem;
    /* margin: 0.1rem 0; */
    overflow: hidden;
    background: #c3c3c3;
    position: relative;
    /* position: absolute;
    bottom: 0; */
}

.link {
    cursor: pointer
}

.logo {

    margin-top: 0.25rem;
    width: 1.5rem;
    height: 0.5rem;
}

#siteNotice {
    color: #999
}

#logo {
    height: 1rem;
    background: #e9e9e9;
    /* margin-bottom: 0.2rem; */
}

/* #tools{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1.9rem;
    height:5.5rem;
    
} */
.infomation {
    font-size: 0.25rem
}

#tools li {

    text-align: left;
    padding: 0.05rem 0.1rem;
}

.open {
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: left;
    padding: 0 0.1rem;
    display: flex;
    font-size: 0.16rem;
    align-items: center;
    background: 0;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 0.02rem solid #e9e9e9;
    /* background:url(./images/button.png) no-repeat 0.1rem; */
}


.open img {
    /* float:right; */
    height: 0.1rem;
    width: 0.1rem;
}

.open span {
    display: inline-block;
    cursor: pointer;
    height: 0.5rem;
    font-size: 0.16rem;
    line-height: 0.5rem;

}

/* #shoufengqin{
    cursor: pointer;
} */
.open2 {
    overflow: hidden;

}

#carlist {
    background: #e9e9e9;
    border-bottom: 0.02rem solid #e9e9e9;
    /* height: 2rem; */
}

#carlist .caritem {
    text-align: left;
    padding: 0.05rem 0.1rem;
    font-size: 0.14rem;
}

#carlist .caritem:hover {
    background: #c3c3c3;

}